/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f757;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #688b5b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert.error {
    background-color: #a8c1ad;
    color: #ff0000;
}

form {
    text-align: center;
}

input[type="file"] {
    display: block;
    margin: 0 auto 20px;
}

button {
    padding: 10px 20px;
    background-color: #ff8000e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}
